main {
    display: flex;
    flex-direction: column;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
  }
  .background {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100dvh;
    perspective: 1px;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
  }
  .background .bgImage {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
    animation: fade 30s ease-in-out infinite alternate;
  }
  @keyframes fade {
    0% {
      opacity: 1;
    }
    33% {
      opacity: 0;
    }
    67% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .bgImage:nth-of-type(1) {
    animation-delay: 0s;
  }
  .bgImage:nth-of-type(2) {
    animation-delay: 10s;
  }
  .bgImage:nth-of-type(3) {
    animation-delay: 20s;
  }
  .background .content {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    text-align: center;
    z-index: 10;
  }
  .text {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .textPrimary {
    text-wrap: nowrap;
    font-size: 24px;
  }
  .text .whiteLine {
    width: 100%;
    height: 1px;
    background-color: white;
  }
  .background .content .themeText{
    font-size: 28px;
    color: #ffd615;
    font-weight: 700;
    line-height: 1.8;
    letter-spacing: 1.8;
  }
  .background .content .bannerText {
    font-size: 20px;
    line-height: 1.8;
    font-weight: 400;
    text-transform:capitalize;
    letter-spacing: 1.8;
    padding-block: 20px;
  }
  .content button {
    background-color: #ffd615;
    color: white;
    cursor: pointer;
    letter-spacing: 2px;
    font-size: 16px;
    border: none;
    padding: 12px 20px;
    border-radius: 20px;
  }
  /* Bible bg */
  .midSection {
    position: relative;
    height: 65vh;
    background-color: #f8f9fa;
  }
  .text .darkLine{
    width: 100%;
    height: 1px;
    background-color: grey;
  }
  .weekQuote {
    color: black;
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translatex(-50%);
    width: 80%;
    text-align: center;
    font-size: 30px;
    line-height: 1.2;
    background-color: white;
    padding: 40px;
    z-index: 90;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    overflow: hidden;
  }
 
  .bgBible {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    object-position: center;
    flex: 1;
  }
  .quoteText .text .heading {
    letter-spacing: 1.3;
    color: #ffd615;
    text-wrap: nowrap;
  }
  .quoteText p {
    line-height: 1.5;
    letter-spacing: 1.2;
  }
  .weekQuote .quoteText {
    flex: 2;
  }

  /* services section */
  .servicesSection {
    padding-block: 50px 70px;
    background-color: #f8f9fa;
  }
  .servicesTop {
    margin-inline: auto;
    width: fit-content;
    text-align: center;
    margin-block-end: 70px;
  }
  .servicesTop .text .greyLine {
    background-color: grey;
    width: 100%;
    height: 1px;
  }
  .icon {
    font-size: 50px;
    color: #ffd615;
  }
  .servicesSection .servicesBottom {
    margin-inline: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    place-content: center;
  }
  .servicesBottom > div {
    text-align: center;
    justify-content: center;
    outline: 1px solid lightgrey;
    padding: 10px;
    border-radius: 8px;
  }
  .servicesBottom > div span {
    color: grey;
  }
  /* sermons section */
  .sermonsSection {
    margin-block: 50px;
  }
  .sermonImagesWrapper {
    display: flex;
    padding-inline: 6rem;
    justify-content: space-between;
    gap: 10px;
  }
  .sermonBgImage {
    height: 450px;
    width: 340px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
  }
  .sermonBgImage.image1 {
    background-image: url("../../assets/sunset.jpg");
    background-position: center top;
  }
  .sermonBgImage.image2 {
    background-image: url("../../assets/motivate.jpg");
  }
  .sermonBgImage.image3 {
    background-image: url("../../assets/inspire.jpg");
  }
  .sermonContent {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    line-height: 1.5;
    letter-spacing: 2px;
  }
  .sermonContent button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 8px 16px;
    border-radius: 6px;
    transition: all 300ms ease-in-out;
    cursor: pointer;
  }
  .sermonContent button:hover {
    background-color: #ffd615;
    border-color: #ffd615;
  }
  .sermonContent small {
    font-size: 16px;
    font-style: italic;
  }
  .sermonImgBottom {
    margin-top: 20px;
    text-align: center;
  }
  .sermonImgBottom > span {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
    display: block;
  }
  .sermonImgBottom > small {
    color: grey;
  }
  .sermonsBtn {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-inline: auto;
    font-size: 18px;
    background-color: #ffd615;
    border: none;
    color: white;
    padding: 12px 20px;
    border-radius: 4px;
    transition: all 300ms ease-in-out;
  }
 
  /* contact */
  .contact {
    background-color: aliceblue;
    margin-inline: 6rem;
    padding: 6rem;
    border-radius: 10px;
    margin-bottom: 50px;
    text-align: center;
  }
.contact h1{
  line-height: 1.8;
  letter-spacing: 1.8;
}
.contact p{
  line-height: 1.8;
  letter-spacing: 1.8;
  font-size: 20px;
}

  .animate {
    display: inline-block;
    opacity: 0;
    animation: slideIn 2.5s forwards cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  .banner {
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
    font-size: 30px;
    line-height: 1.2;
    display: inline-block;
    opacity: 0;
    animation: slideIn 2.5s forwards cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  @keyframes slideIn {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    10% {
      transform: translateX(-80%);
      opacity: 0;
    }
    20% {
      transform: translateX(-60%);
      /* opacity: 1; */
    }
    30% {
      transform: translateX(-40%);
      /* opacity: 1; */
    }
    40% {
      transform: translateX(-20%);
      /* opacity: 1; */
    }
    50% {
      transform: translateX(10%);
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
 
 