.navContainer {
    background-color: transparent;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 99;
    padding-block: 14px;
  }
  .active {
    padding-block: 24px;
    background-color: white;
    transition: all 800ms ease;
    color: black;
    box-shadow: 0px 3px 5px 0px rgba(149, 149, 149, 0.75);
    -webkit-box-shadow: 0px 3px 5px 0px rgba(149, 149, 149, 0.75);
    -moz-box-shadow: 0px 3px 5px 0px rgba(149, 149, 149, 0.75);
  }
  .link{
    text-decoration: none;
    color: inherit;
  }
  .link h3 {
    font-size: 1.5rem;
  }
  nav {
    padding-inline: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .links {
    display: flex;
    align-items: center;
    gap: 14px;
  }
  .navLinks {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .navLinks li {
    text-decoration: none;
    list-style: none;
    padding: 4px 10px;
    border-radius: 4px;
  }
  .navLinks li:hover {
    background-color: rgba(238,242,246,0.3);
  }
  nav h3 {
    margin: 0;
    padding: 0;
  }
  .logo {
    width: 50px;
    height: 50px;
    object-fit: fill;
    object-position: center;
  }
  .logoName {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 3px;
  }
.ministries{
  position: relative;
}
.ministries .ministriesWrapper{
  display: none;
}
.ministries.selected .ministriesWrapper{
  display: block;
  position: absolute;
  top: 110%;
  left: 0;
  width: max-content;
  background-color: white;
  padding: 10px 16px;
  border-radius: 6px;
  z-index: 99;
  color: black;
}
  .ministries:hover .ministriesWrapper{
    display: block;
    position: absolute;
    top: 110%;
    left: 0;
    width: max-content;
    background-color: white;
    padding: 10px 16px;
    border-radius: 6px;
    z-index: 99;
    color: black;
  }
  .ministries .ministriesWrapper li{
    line-height: 1.8;
    position: relative;
  }
  li a{
    text-decoration: none;
    color: inherit;
  }
  .ministries .ministriesWrapper li::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #ffd615;
    transition: all 300ms ease-in-out;
  }
  .ministries .ministriesWrapper li:hover::before{
    width: 100%;
  }
  .ministries .ministriesWrapper li:hover{
    cursor: pointer;
  }
  .ministries .ministriesWrapper::before{
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid white;
  }