footer{
    background-color: #171717;
    color: white;
    padding-inline: 6rem;
    padding-block: 50px;
}
.footerDesc{
    line-height: 2;
    margin-block: 24px;
}
.social{
    display: grid;
    place-content: center;
    width: 40px;
    aspect-ratio: 1/1;
    background-color: #323030;
    color: grey;
    font-size: 20px;
    border-radius: 50%;
}
.socialLinks{
    display: flex;
    gap: 10px;
    padding: 0;
}
.list{
    display: flex;
    flex-direction: column;
    padding: 0;
}
.list li{
    margin-bottom: 20px;
    list-style: none;
}
.list.contactInfo li{
    display: flex;
    gap: 10px;
    align-items: center;
}
.list.contactInfo li span{
    color: grey;
}
.serviceHours li small{
    display: block;
    color: grey;
    margin-top: 5px;
}
section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
footer .copyright{
    text-align: center;
    margin: 0;
    padding-block-end: 30px;
}
.footer{
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 0;
    margin-top: 20px;
}
.footer .textPrimary{
    text-wrap: nowrap;
    color: grey;
    font-size: 16px;
}
.footer .greyLine{
    width: 100%;
    height: 1px;
    background-color: grey;
}